*{
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../pics/bg-img2.jpg);
	background-size: cover;
}
header {
	height: 110px;
	background: black;
}	

#h1 {
	width: 960px;
	margin: auto;	
}
#logo {
	float: left;
	height: 74px;
	padding:18px;
}
#bg {
	float: right;
	margin: auto;
	padding:37.5px;

}

#bg>img,b {
	vertical-align: middle;
}

#bg .active {
	background-position: right !important;
	color: black;
}

nav {
	height: 40px;
	background: linear-gradient(to top, #c0c0c0, #fff);
}

.navigation {
	width: 960px;
	margin: auto;
}

.pagination {
	display: inline-block;
	width: 35px;
	height: 35px;
	text-align: center;
	font-style: italic;
	background: url(../pics/bg-slider-pagination.png);
	background-position: left;
	line-height: 35px;
	color: white;
}



ul.hr {
    padding: 10px; 
	
   }

ul.hr li {
	display: inline-block; 
	width: 150px;
	text-align: center;
	border-right: solid 1px rgb(48%, 48%, 48%, 0.5);
}


ul.hr li:first-child {
	border-left: solid 1px rgb(48%, 48%, 48%, 0.5);
}
article {
	float: left;
	width: 690px;
	margin: 0;
	padding: 20px;
}
section {
	width: 650px;
	padding: 0 20px;
	background: rgba(255, 255, 255, 0.7);
}
section>img {
	float: left;
	padding-right: 20px;
}

section>h1 {
	padding: 10px 0;
}

button {
	background: linear-gradient(to top, #c0c0c0, #000);
	font-size: 11px;
	padding: 4px 10px;
	color: white;
	border:solid 1px rgb(48%, 48%, 48%, 0.5);
}
aside {
	float: right;
	width: 210px;
	padding: 20px 20px 20px 0px;
}
aside>img {
	width: 200px;
}

ul.menu {
	list-style-type: none;
	list-style-image: url(../pics/marker-1.png);
	padding-left: 15px;
}

ul.menu a {
	color:black;
}

ul.menu a:hover {
	color:black;
	text-decoration: none;
}

#content {
	width: 960px;
	margin: 10px auto;
	height: 842px;
	background: rgba(255, 255, 255, 0.4);
}
footer {
	clear: both;
	height: 110px;
	background: black;
}
#h2 {
	width: 500px;
	margin: auto;
	padding: 25px;
	float: left;
}

#icons {
	float: right;
	margin: auto;
	padding: 30px;

}

#icons>h3,img {
	vertical-align: middle;
}